@mixin box {
    height: 600px;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(90deg, #4b6094 0%, #a8815b 100%);
}

@mixin flex-center ($direction) {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: $direction;
}

