@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// COLORES
$bg-color-primary: #c9ccd3;
$bg-color-secondary: #4b6094;
$color-primary: #a8815b;
$color-text:#131929;

// TEXTO
$font-primary: 'Nunito', sans-serif;

