* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navegador {

    position: fixed;
    padding: 20px;
    background-color: white;
}

.titulo {
    @include box;
    @include flex-center (column);

    .titulo__h {
        animation: focus-in-contract-bck 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        font-family: $font-primary;
        font-size: map-get($text, title-desktop);
        text-align: center;
        overflow-y: hidden;


    }

    .titulo__p {
        font-family: $font-primary;
        text-align: center;
    }

}